.Page-Header-en {
  position: relative;
  padding: 0;
  margin: 0;
  height: 50vh;
  overflow: hidden;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.Page-Header-en::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.808);
  z-index: 0;
}

.Page-Title-en {
  color: var(--main-color);
  font-size: 40px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
}

.Page-Title-en::before{
  margin-left: 500px;
  margin-right: 20px;
}

.Page-Title-en::after{
  margin-left: 20px;
  margin-right: 500px;
}

.Page-Title-en::before,
.Page-Title-en::after {
  content: "";
  flex: 1;
  border-bottom: 5px solid var(--main-color);
 
}

.Page-Body-en{
  background-color: rgb(231, 231, 231);
}

@media (max-width: 800px) {
  .Page-Header-en {
    height: 30vh;
  }
  
  .Page-Title-en {
    font-size: 1.5rem;
  }
  .Page-Title-en::before,
  .Page-Title-en::after {
    margin: 0 10px;
  }
}
